{% extends "@App/Layout/layout-two-col-8-4.html.twig" %}

{% block regionRight %}

    <h3>SIMPLE TODO LISTS</h3>
    <p>FROM  GARAGE</p><br>


    <div class="block block-page-edit">
        <div class="title">
            {{ form(form) }}
        </div>
    </div>
    <div class="field field-page-link"><a href="/page">back</a></div>

{% endblock %}